h1 {
    color:#d81e05;;
}
body {
      background-color:#00e;
}
p {
   color:white;
}
li{
    color:white;
    display: inline-block;
    text-align: center;
    width: 9%;
}
ul{
    list-style-type: none;
    background-color: green;
    height: 25px;
}
